html,body{
    padding-top: 30px;
}
a{
    cursor: pointer;
}

ul.todos li.done h4.text {
    text-decoration: line-through;
}
h4{
    cursor: pointer;
}

ul.todos li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

ul.todos li:last-child {
    border-bottom: none;
}

ul.todos li.done {
    text-decoration: line-through;
}